<div class="col-md-8">
	<div id="todoList">
		<h1 class="text-center">Lone Ranger Todo<h1>
		<h2 class="text-center">A Todo List for Lonesome Cowboys</h2>
		<div id="todotable">
			<table class="table table-hover">
				<tr ng-repeat="toDo in toDos">
					<td><span ng-click="completeToDo(toDo)">Did?</span></td>
					<td>{{toDo.message}}</td>
				</tr>
			</table>
		</div>
		<form ng-submit="addToDo()">
			<h3>Add a todo, partner!</h3>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="message" placeholder="Saddle Up, Drink Whiskey, Hit the Trail, etc"></input>
			</div>
			<div>
				<button type="submit" class="btn btn-primary" id="todobutton">Add</button>
			</div>
		</form>
	</div>
</div>
<div class="col-md-4">
	<div id="deadlist">
		<h1 class="text-center">The Dead List</h1>
		<h2 class="text-center">Trailmarkers on the Dusty Road</h2>
		<div ng-repeat="complete in completedToDos">
			<span>{{complete.message}}</span>
		</div>
	</div>
</div>